/* Reset básico de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #83b085;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.form-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

label {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
  display: block;
}

input,
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

input:focus,
select:focus {
  border-color: #4CAF50;
  outline: none;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #388e3c;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Estilos para o botão Copiar Link */
#copiar-link {
  background-color: #23a5c3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s, transform 0.3s;
}

/* Efeito ao passar o mouse (hover) */
#copiar-link:hover {
  background-color: #0f5b6b;
  transform: scale(1.05);
}

/* Efeito ao pressionar o botão (ativo) */
#copiar-link:active {
  background-color: #0f5b6b;
  transform: scale(0.95);
}

/* Seção de QR Code */
#qrcode {
  margin-top: 8px;
  display: block;
}

.valor {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

h4 {
  font-size: 16px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 480px) {
  .form-container {
    padding: 30px;
  }

  .logo {
    width: 120px;
  }

  h1 {
    font-size: 20px;
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}